body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-img img{
    padding: 0%;
    width: 93%;
    margin: 0 auto;
}
.container1 img{
    margin-top: 1.5rem;
    width: 90%;
    /* border: none; */
}

.bi{
    font-size: 2.4rem;
    margin: 1rem;
}
.ok{
   margin: 1rem;
   margin-bottom: 0;
}
.ok>img{
    width: 88%;
}
.ok1{
    margin-left: 0.4rem;
    margin-right: 1rem;
}

.omk img{
    width: 95%;
    margin-top: 3rem;
}
.container2 img{
    width: 92%;
    margin-top: 1.5rem;
}
.gap{
    margin-top: 3rem;
}
.container, .container3{
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
.col
{
    margin-left: 2rem;
    width: 25%;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: arial ;
}
.col h4{
    border-bottom: 1px solid;
    text-transform: uppercase;
    width: 66%;
    font-weight: 700;
}
ul{
    text-decoration: none;  
    text-align: start; 
    padding: 0;
}
li{
    
    list-style: none;
    padding-top: 0.75rem;
}
li a{
    text-decoration: none;
    color: black;
}
.container3{
    background-color: black;
    color: aliceblue;
}
.container3 li>a{
    color: aliceblue;
}
.container3 p{
    color: aliceblue;
}
.copy{
    margin: 0;
    padding: 2rem;
    background-color: black;
    color: aliceblue;
    justify-content: left;

}
.copy p{
    margin: 0;
    padding-top: 0.4rem;
    font-size: 0.8rem;
}
